*{
    margin: 0;
    padding: 0;
}
/* Set etiquetas general */
a{
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: black;
    color: white;
}

header ul {
    list-style: none;
}

header a {
    color: white;
}
header div.menupetshop {
    background-color: #F0A83E;
}
section.banner{
    background-image: url(../img/banner.png);
    background-size: cover;
    width: 100%;
    height: 409px;
}
.pawdesck{
    color: #F0A83E;
    font-size: 80px;
}
section h1{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #3C2313;
}
section div.articulos{
    background: #FBFAF6;
    font-weight: 500;
}
span.price{
    color: #F0A83E;
}